.project-section {
  padding: 50px 10%;
  background-color: #ffffff;
  color: #0d1116;
}

.project-card {
  background-color: #f8f9fa;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  transition: transform .3s ease;
}

.project-card:hover {
  transform: translateY(-5px);
}

.project-card img {
  width: 100%;
  height: auto;
  display: block;
}

.project-card .content {
  padding: 20px;
  color: #0d1116;
}
